
  /*------------ PROJECTS PAGE -----------*/
  .project-section h2 {
    justify-content: center;
  }


/*------------ Project Filter -----------*/
.filter-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 4%;
  margin-bottom: 5%;
}

.filter-section h3 {
  color: var(--blueberry);
  font-weight: 400;
  font-size: 1.9em;
  margin-bottom: 0;
 
}

.filter-buttons {
  display: flex;
  white-space: nowrap;
}

.filter-buttons button {
  border: 1px solid;
  padding: 1.5% 5%;
  width: 100%;
  margin: 3% 2% 2% 0;
  font-size: 1.5em;

}

.filter-buttons button:hover,
.filter-buttons button:visited {
  border: 1px solid var(--blueberry);
  color: var(--wheat);
  background-color: var(--blueberry);
  transition: 0.2s;
}


/*------------ Postscript -----------*/
a:-webkit-any-link {
  color: var(--white);
  text-decoration: none;
}

.project-section p {
  font-size: 1.3em;
  font-style: italic;
  margin-top: 0;
  text-align: center;
  margin-bottom: 3%;
}

.project-section p a:link,
.project-section p a:visited{
  color: var(--meadow);
  
}

.project-section p a:hover,
.project-section p a:active {
  color: #d67070;
  transition: 0.2s;
}



/*------------ Project Gallery -----------*/

.project-item {
  margin: 1.5%;
  position: relative;
  border: 3px solid var(--blueberry);
  border-radius: 35px;
  overflow: hidden;
  max-height: 450px;
  max-width: 520px;
}

.project-title{
  display: block;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.project-image {
    width: 100%;
    height: 100%;
    position: relative;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    background-color: rgba(0, 0, 165, 0); /* Change the color and opacity as needed */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s ease;
}

.overlay:hover {
    background-color: rgba(0, 0, 165, 0.8); /* Change the color and opacity as needed */
}

.project-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay:hover .project-title {
  opacity: 1;
}


  .short-line {
    justify-content: center;
    border-top: 1.5px solid #fff;
    margin: 4% 20% 0 20%;
    width: 60%;
  }

  .project-footer{
    margin-bottom: 1%;
  }
/* 
  @media only screen and (max-width: 1024px) {
    .project-title h4 {
      font-size: 1.6em;
    }

    .project-title h5 {
      font-size: 0.9em;
    }
  }

  @media only screen and (max-width: 768px) {
    .projs {
      min-width: 325px;
      min-height: 215px;
      margin: 3% 0;
      border: 2px solid var(--blueberry);
    }

    .project-section p {
      font-size: 1em;
      margin-top: 2%; 
      margin-bottom: 5%;
    }

    .project-title h4 {
      font-size: 1.4em;
    }
  } */
